@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Nunito  wight - 200-1000 */

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Nunito', sans-serif;
}

body {
      background-color: #010010;
}

header {
      border-bottom: 1px solid rgba(128, 128, 128, 0.481);
      margin-bottom: 3rem;
}

nav {
      height: 3.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* border: 1px solid white ; */
}

#main-logo img {
      height: 2.5rem;
      margin-left: 1rem;
      filter: brightness(2);
}

#main-logo img:hover {
      cursor: pointer;
}

#navbar-items {
      display: flex;
}

#navbar-items a {
      font-size: 1.1rem;
      margin-right: 1.5rem;
      text-decoration: none;
      color: white;
      padding-bottom: 2px;
      padding: 0 7px 2px 7px;

      position: relative;
}

#navbar-items a::after {
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%) scale(0);
      content: '';
      height: 0.6rem;
      width: 0.6rem;
      border-radius: 50%;
      background-color: white;
      transition: transform 0.2s ease-out;
}

#navbar-items a:hover::after {
      transform: translateX(-50%) scale(1);
}

/* header part done----------------------------------------- */



/* project cards --------------------------- */
main{
      display: flex;
      flex-flow: row wrap;
      padding: 2rem 4rem;
}

.card{
      display: flex;
      flex-direction: column;
      border: 2px solid white;
      border-radius: 1rem;
      overflow: hidden;
      padding: 0.71rem;
      width: 360px;
      background-color: #E9F8F9;
}

.card-img{
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
      overflow: hidden;
      margin-bottom: 1rem;
}



.card-heading{
      display: flex;
      justify-content: space-around ;
      width: 100%;
      border: 1px solid red;
}

.card-name{
      font-weight: 800;
      font-size: 2rem;
      padding-bottom: 0.6rem;
      border-bottom: 1px solid grey;
      width: 60%;
}

.stats{
      padding: 0.5rem;
      border: 1px solid;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 40%;
}

.stats-button{
      border-radius: 2rem;
      padding: 0.25rem 0.25rem 0.25rem 0.25rem;
      text-align: center;
      font-weight: 800;
      letter-spacing: 1px;
      text-transform: capitalize;
      color: white;
      
}

.easy, .medium, .hard{
      background-color: rgb(0, 21, 255);
}

.completed, .in-progress, .coming-soon{
      background-color: brown;
}



.tech-stack{
      display: flex;
      flex-wrap: wrap;
      margin-top: 0.3rem;
      padding-bottom: 0.4rem;
      border-bottom: 1px solid grey;
      display: flex;
      align-items: center;
}

.tech-button{
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 0;

      padding: 0.3rem;
      margin-right: 1.2rem;
      margin-bottom: 1rem;

      position: relative;
      cursor: pointer;

}


.tech-button img{
      width: 2rem;
      height: 2rem;
}

.tech-button p{
      font-size: 0.9rem;
      font-weight: 500;
      opacity: 0;

      position: absolute;
      bottom: -20%;
      z-index: 100;

      font-weight: 800;
      padding: 5px;
      border-radius: 5px;
      transition: 0.4s all ease;

}

.tech-button:hover  p{
      opacity: 1;
      bottom: -50%;
}

#html-button{
      color: orangered;
}
#css-button{
      color: rgb(0, 140, 255);
}
#tailwind-button{
      color: rgb(0, 204, 204);
}
#react-button{
      color: rgb(1, 231, 231);
}
#p5-button{
      color: rgb(253, 34, 143);
}
#js-button{
      color: rgb(255, 225, 0);
      letter-spacing: -7px;
      text-shadow:  1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 0 #000, -1px 1px 0 #000; 
      transition: 0.4s all ease;
}

.tech-button:hover #js-button{
      letter-spacing: 2px;
}





.loc{
      margin: 1rem 0 1rem 0;
}
.loc span{
      font-weight: 700;
}


/* ADD 
a information i icon on top of page to tell users about the basic terminologies 
like easy medium hard   
completed in progess or in future
and some other info 


write the css for these buttons 

add multiple cards , atleast 8 cards ... 

then make pages for the card .. 
think about how you will make the pages , you will make entire new page and link 
it or you will make a page in itself 
means try to understand how websites with multiple pages are linked together

*/